.container{
    color: white;
    background-color: cadetblue;
    padding-top: 20px;
    padding-bottom: 20px;
}
.card{
    border-radius: 10px !important;
    background-image: linear-gradient(to right, rgb(221,282,163), rgb(67,85,84));
    margin-bottom: 10px !important;
}
.card .img-box{
    display: flex;
    justify-content: center;
    height: 8em;
    margin: 30px;
    object-fit: scale-down;
}
.img-box{
    border-radius: 10px !important;
    width: 90%;
    align-self: center;
    height: 100%;
}
.card-body{
    padding-bottom: 30px !important;
    display: flex;
    flex-direction: column;
    line-height: 40px;
    align-items: center;
}
.col-sm-6 {
    margin-top: 1em !important;
}
